<footer>
	<div id="footerDiv">
		<div>©2019 ScriptHub Productions Inc</div>
		<div><a href="/contact">Contact Info</a></div>
		<div>Need Help? Please contact: help@ScriptHub.com</div>
	</div>
</footer>

</body>

