<!DOCTYPE html>
<html>
<head>
</head>

<body>
	<nav>
		<a href="/">Home</a>
		<a href="/users/new">Register</a>
		<a href="/users">Developers</a>
		<a href="">About</a>
		<a href="">Contact</a>

	</nav>
</body>