
	<%- include ./partials/header.ejs %>

<div id="regForm">
	<div class="newForm">
		<h1>About</h1>
		<br/>
		<p>DevFolio began in early 2019 as a collaborative project between Eddy Popescu and Bill Bakopoulos. Both Bill and Eddy were attending the Software Engineering Immersive at General Assembly and sought out to create a platform where espiring developers could showcase their projects in a central location that would also expose their work to industry recruiters and talent seekers.</p><br/>
		<br/>
		<br/>
		<br/>
	</div>
</div>




<%- include ./partials/footer.ejs %>
</html>
