<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<link href="https://fonts.googleapis.com/css?family=Indie+Flower|Kalam|Poiret+One|Shadows+Into+Light" rel="stylesheet">
	<title>Home Page</title>
</head>

<body id="homeBody">
	<%- include ./partials/header.ejs %>

	<p>This is the about section</p>




</body>
</html>