	<%- include ./partials/header.ejs %>

<div id="regForm">
	<div id="newForm">

		<h1>Contact Information</h1>

		<p>
			Main Phone: (224) 310-8792 <br/>
			Email: help@ScriptHub.com <br/>
			Fax: (What is fax though?) <br/>
		</p>


	</div>
</div>

<%- include ./partials/footer.ejs %>
</html>