	<%- include ./partials/header.ejs %>

<div id="regForm">
	<div class="newForm">

		<h1>Contact Information</h1>

		<p>
			<strong>Main Phone:</strong> (224) 310-8792 <br/>
			<strong>Email:</strong> help@DevFolio.com <br/>
			<strong>Hours:</strong> Monday - Friday, 9am - 5pm <br/>
		</p>
		<div id="phoneLadyDiv">
			<img src="https://image1.masterfile.com/getImage/ODM4LTAyNDg0Njk3ZW4uMDAwMDAwMDA=AD-Znp/838-02484697en_Masterfile.jpg" id="phoneLady">
		</div>


	</div>
</div>

<%- include ./partials/footer.ejs %>
</html>