<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<title>Home Page</title>
</head>

<body id="homeBody">
	<%- include ./partials/header.ejs %>

<!-- 	<h1>Home</h1> -->

	<div id="homeLogin">
<!-- 		<h2>Login</h2> -->
		<form action="/login" method="POST">
		    <input type="text" name="userName" placeholder="username">
		    <input type="password" name="password" placeholder="password">
		    <button type="submit">Login</button>
	  	</form>
  	</div>

</body>
</html>