<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<title>New Project Page</title>
</head>
<body>
	<%- include ../partials/header.ejs %>
	<h1>Create New Project</h1>


	<form action="/projects" method="post">
		<input type="text" name="name" placeholder="Project name"><br/>
		<input type="text" name="projectURL" placeholder="Link to your project"><br/>
		<input type="text" name="repo" placeholder="Github or Repo Link"><br/>
		<input type="text" name="projectImage" placeholder="URL of Project Image"><br/>
		<textarea name="description" placeholder="enter project description"></textarea><br/>
		<button type="submit">Create Project</button>
	</form>
</body>
</html>
