
	<%- include ../partials/header.ejs %>
	
<div id="regForm">
	<div class="newForm">
		<h1>Create New Project</h1>
		<form action="/projects" method="post">
		<div>
			<p>Project Name: </p>
			<input type="text" name="name" placeholder="Project name">
		</div>
		<div>
			<p>Project URL: </p>
			<input type="text" name="projectURL" placeholder="Link to your project">
		</div>
		<div>
			<p>Repo Link: </p>
			<input type="text" name="repo" placeholder="Github or Repo Link">
		</div>
		<div>
			<p>Project Image URL: </p>
			<input type="text" name="projectImage" placeholder="URL of Project Image">
		</div>
		<div>
			<p>Project Descpription: </p>
			<textarea name="description" placeholder="enter project description"></textarea>
		</div>
		
			<button type="submit">Create Project</button>
		</form>
	</div>
</div>
<%- include ../partials/footer.ejs %>
</html>
