<!DOCTYPE html>
<html>
<head>
	<link rel="stylesheet" type="text/css" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="css/style.css">
	<title>New User Page</title>
</head>
<body>
	<%- include ../partials/header.ejs %>
	<h1>Create Profile</h1>

	  <small><%= message %></small>

	<form action="/users" method="POST">
		<input type="text" name="userName" placeholder="username">*<br/>
		<input type="password" name="password" placeholder="password">*<br/>
		<input type="text" name="firstName" placeholder="first name">*<br/>
		<input type="text" name="lastName" placeholder="last name">*<br/>
		<input type="text" name="email" placeholder="email address">*<br/>
		<input type="text" name="location" placeholder="location"><br/>
		<input type="text" name="imageURL" placeholder="image URL"><br/>

		<p>Please enter a description about your developer experiences in the box below:</p>
		<textarea name="description"></textarea><br/>

		<button type="submit">Create Profile</button><br/>
		
	</form>

<%- include ../partials/footer.ejs %>
</html>

